@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

a {
  text-decoration: none;
}


.color-custom-primary {
  color: #003321;
}

.color-custom-secondary {
  color: #DCFFD7;
}

.bg-custom-primary {
  background-color: #003321;
}

.bg-custom-secondary {
  background-color: #DCFFD7;
}

.bg-icon-color {
  background-color: #F9F9F9;
}

.outline-custom-primary {
  border-color: #003321;
}

.outline-custom-secondary {
  border-color: #DCFFD7;
}

.text-custom-primary {
  color: #003321;
}

.text-custom-secondary {
  color: #DCFFD7;
}

.text-custom-tertiary {
  color: #5C6C7B;
}

.font-family-primary {
  font-family: 'Raleway', sans-serif;
}

.font-family-secondary {
  font-family: 'Inter', sans-serif;
}

.fs-font-headings {
  font-size: 24px;
}

.fs-font-headings-product-page {
  font-size: 32px !important;
}

.fs-product-card-title {
  font-size: 14px;
}

.fs-product-card-price {
  font-size: 16px;
}

.fs-product-card-location-icon {
  font-size: 10px;
}

.fs-product-card-location {
  font-size: 10px;
}

.fs-product-card-units {
  font-size: 10px;
}

.fs-custom-category {
  font-size: 10px !important;
}

.form-check-input:checked {
  background-color: #003321;
  border-color: #003321;
}

