  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .thumbnail-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 5px;
    opacity: 0.7;
  }

  .thumbnail-image:hover {
    opacity: 1;
    cursor: pointer;
  }

  .product-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .price {
    font-size: 1.8rem;
    color: #003321;
  }

  .btn-buy,
  .btn-cart {
    background-color: #003321;
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
  }

  .btn-cart {
    background-color: #ffffff;
    border: 1px solid #003321;
    color: #003321;
  }

  .options-button {
    background-color: #ffffff;
    border: 1px solid #ddd;
    color: #333;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 5px 0;
  }

  .seller-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .icon {
    font-size: 1.2rem;
    margin-right: 10px;
  }