#img-banner {
  padding: 0px !important;
}

.card {
  background-color: transparent !important;
}

#form-card {
  width: 418px;
  height: 500px;
}

input {
  background-color: transparent !important;
  border-color: #DCFFD7;
  margin-top: 12px;
  color: #DCFFD7 !important;
}

input::placeholder {
  color: #DCFFD7 !important;
  opacity: 1;
}

input:focus::placeholder {
  color: #DCFFD7 !important;
}


input:focus {
  border-color: #00FF00 !important;
  box-shadow: 0 0 5px #00FF00 !important;
}


.dropdown-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #DCFFD7;
  pointer-events: none;
}


.dropdown-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #DCFFD7;
  pointer-events: none;
}


.dropdown-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #DCFFD7;
  pointer-events: none;
}


#userTypeInput {
  padding-right: 30px;
}


.dropdown-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #DCFFD7;
  pointer-events: none;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #DCF5E6;
  border-radius: 4px;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox:checked {

  border-color: #DCF5E6;

}

.custom-checkbox:checked::before {
  color: #0d3a0c;
  font-size: 1rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-check-label {
  font-size: 13px;
  color: #A3A3A3;
}

.divider {
  border-top: 1px solid #A3A3A3;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px;
}


.terms-text {
  font-size: 0.9rem;
  color: #A3A3A3;
  text-align: center;

}